{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h2>Pricing table</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
    <div class="row">
      <div class="col">
        <h3>Basic</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Full support: No</p>
        <p>Duration: 30 days</p>
        <p>Storage: 100gb</p>
        <p>Storage: 100gb</p>
        <h3>$25</h3>
        <div class="d-grid">
          <button class="btn btn-outline-primary">Buy</button>
        </div>
      </div>
      <div class="col">block 2</div>
      <div class="col">block 3</div>
    </div>
  </div>
{% endblock %}